

<div class="leftalign">
<%= image_tag("/assets/aboutpic1.jpg", :size => "380x300", :crop => :fill) %> 
    <br/>
    Not an actual picture of the author.
</div>
<p class="standard_text">
        The author of this marvelous website is an incredible individual, <br>
    as in, of course, that no one believes him.<br>
    So it goes.
    <br>
    <br>
    Anyways, I'm a currently 18 highschool student <br> taking college classes at a local university.<br><br>
    This website is for a 400-level Ruby on Rails class<br>
    and originally was supposed to be a personal website, <br>
    before I got carried away with quantum shenanigans.<br>
</p>
    <div class="rightalign" >
<%= image_tag("/assets/adminpic.png", :size => "300", :crop => :fill) %> 
    <br/>
    Also not an actual picture of the author, but very akin to him.  <br>Codes before hoes, you know what I'm saying?
    </div>
    <p class="standard_text">
    You want more info?<br><br>
        Sorry mate, <br>
        I don't want to get doxxed.<br><br>
        So just enjoy my lovely website, <br>try to log in,<br>and feel free to buy a piece of pottery or two.<br>
        <br>
        <br>
        Also, if you're from my class, <br>my project is much better than yours.  <br><br> Emily.
    <br/>
</p>
