<div class="standard_text">

<h1><%= mail_to "selcouthinfomania@gmail.com", "My email" %></h1>
    
    Whoop de doop, how fancy!
    <br>
    <br>
    Anyways, use this if you want to contact me about anything ranging from offers to bugs to suggestions to congradulations on my amazing website.
</div>