div.myHeader{

text-align: center;
margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    height: 288px;
    position: relative;
    background-size: cover;
        background-position: center;
    opacity: .75;
    


}


div.styles {
    z-index: 2;
    opacity: .8;
    position:absolute;
    padding:5px;
    display:block;
    float:right;
    width: 10%;
    background-color: #449;
    margin-top: 20%;
    margin-left: 86%;
    border-style: none;
    border-width: 10px;
    border-radius: 50px;
    border-color: black;
     background-image: url("celestial/nebula.jpg");
    background-size: cover;
        background-repeat: no-repeat; 
        background-position: 50% 0;
    animation-name: fade;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-transition: opacity 1s ;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s ;
    -o-transition: opacity 1s ;
    transition: opacity 1s ;
}

div.styles:hover {
    opacity: 1;
    animation: none;
}

a.styles {
    
    
    border-style: none;
    border-width: 5px;
    border-radius: 20px;
    border-color: black;
text-decoration: none;
padding-top: 6px;
padding-bottom: 6px;
    padding-right: 30px;
    padding-left: 15px;
    
   
    
width: 100px;
text-align: center;
display: inline-block;
font-size: 20px;

font-weight:bold;
color: purple;
    
    text-shadow:
 0px -2px 4px #fff, 0px 2px 4px #fff, -2px 0 4px #fff, 2px 0 4px #fff,
 0px -4px 10px #fcf, 0px 4px 10px #fcf, -4px 0 10px #fcf, 4px 0 10px #fcf,
 0px -8px 10px #c9c, 0px 8px 10px #c9c, -8px 0 10px #c9c, 8px 0 10px #c9c,
 0px -16px 20px #929, 0px 16px 20px #929, -16px 0 20px #929, 16px 0 20px #929;
    
    
}



a.tablinks_major {
border-style: none;
    border-width: 10px;
    border-radius: 50px;
    border-color: #00F;
text-decoration: none;
padding: 5px 10px;
    padding-right: 15px;
width: 200px;
text-align: center;
display: inline-block;
font-size: 50px;
    
    color: purple;
     text-shadow:

 0px -2px 4px #fff, 0px 2px 4px #fff, -2px 0 4px #fff, 2px 0 4px #fff,
 0px -4px 10px #fcf, 0px 4px 10px #fcf, -4px 0 10px #fcf, 4px 0 10px #fcf,
 0px -8px 10px #c9c, 0px 8px 10px #c9c, -8px 0 10px #c9c, 8px 0 10px #c9c,
 0px -16px 20px #929, 0px 16px 20px #929, -16px 0 20px #929, 16px 0 20px #929;
    

font-weight:bold;
    animation-name: fade;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-transition: opacity 1s ;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s ;
    -o-transition: opacity 1s ;
    transition: opacity 1s ;
}

a:hover { 
    animation: none;
    opacity: 1;
    
}

a.tablinks {
    border-style: none;
    border-width: 8px;
    border-radius: 30px;
    border-color: #00F;
text-decoration: none;
padding: 7px 30px;
width: 100px;
text-align: center;
display: inline-block;
font-size: 30px;

font-weight:bold;
color: purple;

    
    margin-left: 1%;
    margin-right: 1%;
    animation-name: fade;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

a.tablinks:hover {
    opacity: 1;
    animation: none;
        
}




h1 {
    color: purple;
    
    
}

body {
background-image: url('celestial/moonstorm.jpg');
text-align: center;
    background-size: cover;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-position: center;
    font-style: oblique;
    
 font-family: "cursive";
}

div.main {
    position: relative;
    opacity: .7;
display: inline-block;
text-align: center;

padding-top: 3%;
    margin-top: -3%;
font-weight:900;
min-height:50vh;

    width: 80%;
    
    border-style: none;
    border-width: 50px;
    border-radius: 200px;
    border-color: #33F;
        margin-bottom:100%;
    
       text-shadow:

 0px -2px 4px #fff, 0px 2px 4px #fff, -2px 0 4px #fff, 2px 0 4px #fff,
 0px -4px 10px #fcf, 0px 4px 10px #fcf, -4px 0 10px #fcf, 4px 0 10px #fcf,
 0px -8px 10px #c9c, 0px 8px 10px #c9c, -8px 0 10px #c9c, 8px 0 10px #c9c,
 0px -16px 20px #929, 0px 16px 20px #929, -16px 0 20px #929, 16px 0 20px #929;


    
}

    
div.star {
    border-style: none;
    border-width: 50px;
    border-radius: 200px;
    border-color: #33F;
    opacity: .5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -4;
     background: url("celestial/starsymbol.jpg");
        background-repeat: repeat-y; 
    background-position: 50% 50%;
    background-size: 100% 1200px;
}



div.tabCtrl {
    width = 80%;
    -webkit-transition: opacity .5s ;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s ;
    -o-transition: opacity .5s ;
     opacity: 1;
    font-weight: 500%;
}

div.mainPart {
    font-style: oblique;
text-align: center;
width: 80%;
    min-height: 20vh;
margin: auto;
margin-top: 10px;
padding: 20px;
font-weight: 900;
    font-size: 20px;
    color: #000;


    position: relative;
    
        animation-name: fade;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-transition: opacity 1s ;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s ;
    -o-transition: opacity 1s ;
    transition: opacity 1s ;
}

div.mainPart:hover { 
    animation: none;
    opacity: 1;
}


div.footer {
    text-align:center;
    position: relative;
    display:block;
}

p.standard_text {
    font-size: 20px;
    line-height: 25px;
    font-weight: 20px;
}

div.standard_text {
    font-size: 20px;
    line-height: 25px;
    font-weight: 20px;
}



div.smalltext {
    font-size: 10px;
}

ul  {
 padding-left:0;   
}
ul li  {
 list-style-position:inside
}

ul li.question {
    color: #FCF;
    font-size: 30px;
    padding: 10px;
        line-height: 30px;
}

ul li.answer {
    color: purple;
    font-size: 20px;
    padding: 5px;
}

div.leftalign {
    float: left;
    margin-left:2%;
}

div.rightalign {
    float: right;
    margin-right:2%;
}

div.importantText {
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    color: #FCF;
    margin: 5px;
    
    text-shadow:

 0px -2px 4px #fff, 0px 2px 4px #fff, -2px 0 4px #fff, 2px 0 4px #fff,
 0px -4px 10px #fcf, 0px 4px 10px #fcf, -4px 0 10px #fcf, 4px 0 10px #fcf,
 0px -8px 10px #c9c, 0px 8px 10px #c9c, -8px 0 10px #c9c, 8px 0 10px #c9c,
 0px -16px 20px #929, 0px 16px 20px #929, -16px 0 20px #929, 16px 0 20px #929;
}

@-webkit-keyframes fade {
   0% { opacity: 0;}
    20% { opacity: 0;}
    100% { opacity: 1;}
}

div.secondHeader {
    font-size: 40px;
    color: #00D;
    padding: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
        background-size: cover;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-position: center;
}

div.factTitle {
    font-size: 20px;
    color: #00F;
    text-decoration: none;
}

a.factTitle {
    text-decoration: none;
}

a.factTitle:visited {
    color: #009;
}

div.fact {
    width: 90%; 
    margin-left:5%;
    margin-right:5%;
    color: #00D
}

div.factOptions {
    font-size: 10px;
    padding-top: 10px;
}

div.bordered {
    min-width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    padding: 1px;
}

div.hidden_text {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #BBE;

}
div.hidden_text:hover{
    opacity: 1;
    
}

div.boxed {
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #900;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
    padding-top: 0px;
}

div.field {
    margin: 1%;
    
}

.pot_image {
    margin: 3%;
    max-height: 80%;
    max-width: 80%;
}

.list_image {
    width: 40%;
}

div.pottery_title {
    font-size: 30px;
    text-decoration: none;
}

a.pottery_title {
    text-decoration: none;
}

a.pottery_title:visited {
    color: #009;
}

div.searchbar {
    
     border-style: none;
    border-width: 5px;
    border-radius: 50px;
    border-color: #00F;
text-decoration: none;
padding-top: 25px;
padding-bottom: 25px;
    padding-right: 30px;
    padding-left: 15px;
    opacity: .8;
    position:absolute;
    display:block;
    float:right;
margin-top: 2%;
    
    background-image: url("fire/fireborderfancy.jpg");
    background-size: cover;
        background-repeat: no-repeat; 
        background-position: 0 0;
-webkit-transition: color 1s ;
    -moz-transition: color 1s;
    -ms-transition: color 1s ;
    -o-transition: color 1s ;
}

a.searchbar:hover { 
    color: white;
    
}

div.searchbarfact {
    
     border-style: none;
    border-width: 5px;
    border-radius: 50px;
    border-color: #00F;
text-decoration: none;
padding-top: 5px;
padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 15px;
    opacity: .8;
    width: 200px;
    position:absolute;
    display:block;
    float:right;

    background-image: url("fire/fireborderfancy.jpg");
    background-size: cover;
        background-repeat: no-repeat; 
        background-position: 0 0;
    -webkit-transition: color 1s ;
    -moz-transition: color 1s;
    -ms-transition: color 1s ;
    -o-transition: color 1s ;

}

a.searchbarfact:hover { 
    color: white;
    
}

.searchoption {
    background-color: #88D;
    color: #00F;
    font-weight: bold;
    border-color: #00F;
}

div.alignfact {
    position:absolute;
    left: -9.5%;
    float: left;
    
    top: 130px;;

}

div.alignpot {
    position:absolute;
    left: -22%;
    float: left;
    
    top: -10px;

}

div.buyButton {

}

a.buyButton {
    border: outset;
border-radius: 50px;
border-color: blue;
text-decoration: none;
padding: 7px 40px;
width: 100px;
text-align: center;
display: inline-block;
font-size: 20px;

font-weight:bold;
color: red;
background-color: #4400AA;
    
    margin-left: 1%;
    margin-right: 1%;
    
    color: blue;
    text-decoration: none;
    
}

.bigImageLink {
    
    position:absolute; 
    width:100%;
    height:71.5%;
    top:0;
    left: 0;
    text-decoration: none;
    font-size: 120px;
    font-weight: 500;
    padding-top: 7%;
    text-align: center;
    
         color: white;
text-shadow:

 0px -2px 4px #fff, 0px 2px 4px #fff, -2px 0 4px #fff, 2px 0 4px #fff,
 0px -4px 10px #fcf, 0px 4px 10px #fcf, -4px 0 10px #fcf, 4px 0 10px #fcf,
 0px -8px 10px #c9c, 0px 8px 10px #c9c, -8px 0 10px #c9c, 8px 0 10px #c9c,
 0px -16px 20px #929, 0px 16px 20px #929, -16px 0 20px #929, 16px 0 20px #929;



        animation-name: fade;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-transition: opacity 1s ;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s ;
    -o-transition: opacity 1s ;
    transition: opacity 1s ;
}

