div.myHeader{

text-align: center;
margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    height: 288px;
    position: relative;
    background-size: cover;
        background-position: center;
    opacity: .75;
    

}


div.styles {
    z-index: 2;
    opacity: .8;
    position:absolute;
    padding:5px;
    display:block;
    float:right;
    width: 10%;
    background-color: #449;
    margin-top: 20%;
    margin-left: 86%;
    border-style: groove;
    border-width: 5px;
    border-color: #99F;
     background-image: url("ice/ice.jpg");
    background-size: cover;
        background-repeat: no-repeat; 
        background-position: 0 0;
}

a.styles {
    
    
    border-style: groove;
    border-width: 5px;
    border-color: #99F;
text-decoration: none;
padding-top: 6px;
padding-bottom: 6px;
    padding-right: 30px;
    padding-left: 15px;
    
   
    
width: 100px;
text-align: center;
display: inline-block;
font-size: 20px;

font-weight:bold;
color: #88C;
    text-shadow:
 0px -2px 4px #fff,
 0px -2px 10px #AAC,
 0px -10px 20px #09F,
 0px -20px 40px #33C,
         -5px -2px 4px #fff,
 -10px -2px 10px #AAC,
 -15px -10px 20px #09F,
 -20px -20px 40px #33C,
         5px -2px 4px #fff,
 10px -2px 10px #AAC,
 15px -10px 20px #09F,
 20px -20px 40px #33C;
    
    animation-name: burnmed;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

a.styles:hover { 
    color: white;
    -webkit-transition: color 1s ;
    -moz-transition: color 1s;
    -ms-transition: color 1s ;
    -o-transition: color 1s ;
    transition: color 1s ;
}


a.tablinks_major {
border-style: groove;
    border-width: 5px;
    border-color: #99F;
text-decoration: none;
padding: 5px 10px;
    padding-right: 25px;
width: 200px;
text-align: center;
display: inline-block;
font-size: 50px;

font-weight:bold;
color: #88C;
    text-shadow:
 0px -2px 4px #fff,
 0px -2px 10px #AAC,
 0px -10px 20px #09F,
 0px -20px 40px #33C,
         -5px -2px 4px #fff,
 -10px -2px 10px #AAC,
 -15px -10px 20px #09F,
 -20px -20px 40px #33C,
         5px -2px 4px #fff,
 10px -2px 10px #AAC,
 15px -10px 20px #09F,
 20px -20px 40px #33C;
animation-name: burnmed;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    -webkit-transition: color 1s ;
    -moz-transition: color 1s;
    -ms-transition: color 1s ;
    -o-transition: color 1s ;

}

a.tablinks_major:hover { 
    color: white;
    
}

a.tablinks {
    border-style: groove;
    border-width: 8px;
    border-color: #99F;
text-decoration: none;
padding: 7px 30px;
width: 110px;
text-align: center;
display: inline-block;
font-size: 30px;

font-weight:bold;
color: #88C;
    text-shadow:
 0px -2px 4px #fff,
 0px -2px 10px #AAC,
 0px -10px 20px #09F,
 0px -20px 40px #33C,
         -5px -2px 4px #fff,
 -10px -2px 10px #AAC,
 -15px -10px 20px #09F,
 -20px -20px 40px #33C,
         5px -2px 4px #fff,
 10px -2px 10px #AAC,
 15px -10px 20px #09F,
 20px -20px 40px #33C;
    
    margin-left: 1%;
    margin-right: 1%;
    animation-name: burnmed;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    -webkit-transition: color 1s ;
    -moz-transition: color 1s;
    -ms-transition: color 1s ;
    -o-transition: color 1s ;
}

a.tablinks:hover { 
    color: white;
    
}



.fire {
 color: #f5f5f5;
 text-shadow:
 0px -2px 4px #fff,
 0px -2px 10px #AAC,
 0px -10px 20px #09F,
 0px -20px 40px #33C,
         -5px -2px 4px #fff,
 -10px -2px 10px #AAC,
 -15px -10px 20px #09F,
 -20px -20px 40px #33C,
         5px -2px 4px #fff,
 10px -2px 10px #AAC,
 15px -10px 20px #09F,
 20px -20px 40px #33C;
 font-size: 100px;
}

h1 {
    color: #88C;
    text-shadow:
 0px -2px 4px #fff,
 0px -2px 10px #AAC,
 0px -10px 20px #09F,
 0px -20px 40px #33C,
         -5px -2px 4px #fff,
 -10px -2px 10px #AAC,
 -15px -10px 20px #09F,
 -20px -20px 40px #33C,
         5px -2px 4px #fff,
 10px -2px 10px #AAC,
 15px -10px 20px #09F,
 20px -20px 40px #33C;
    animation-name: burnmed;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

body {
font-family: serif;
background-image: url('ice/iceroof.jpg');
text-align: center;
    background-size: cover;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-position: center;
    font-style: oblique;
    
}

div.main {
    opacity: .7;
display: inline-block;
text-align: center;

padding-top: 3%;
    margin-top: -3%;
font-weight:900;
min-height:50vh;

    width: 80%;
    
    background-color: rgba(255, 255, 255, 0.4);
    border-style: groove;
    border-width: 10px;
    border-color: #99F;
        margin-bottom:100%;
    
        text-shadow:
 0px -2px 4px #fff,
 0px -2px 10px #AAC,
 0px -10px 20px #09F,
 0px -20px 40px #33C,
         -5px -2px 4px #fff,
 -10px -2px 10px #AAC,
 -15px -10px 20px #09F,
 -20px -20px 40px #33C,
         5px -2px 4px #fff,
 10px -2px 10px #AAC,
 15px -10px 20px #09F,
 20px -20px 40px #33C;
    
    background-image: url("ice/ice.jpg");
    background-size: cover;
        background-repeat: no-repeat; 
        background-position: 0 0;

    
}




div.tabCtrl {
    width = 80%;
    -webkit-transition: opacity .5s ;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s ;
    -o-transition: opacity .5s ;
     opacity: 1;
    font-weight: 500%;
}

div.mainPart {
    font-style: oblique;
text-align: center;
width: 80%;
    min-height: 20vh;
margin: auto;
margin-top: 10px;
padding: 20px;
font-weight: 900;
    font-size: 20px;
    color: #55C;


    position: relative;
    
    animation-name: burnmed;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

div.footer {
    text-align:center;
    position: relative;
    display:block;
}

p.standard_text {
    font-size: 20px;
    line-height: 25px;
    font-weight: 20px;
}

div.standard_text {
    font-size: 20px;
    line-height: 25px;
    font-weight: 20px;
}



div.smalltext {
    font-size: 10px;
}

ul  {
 padding-left:0;   
}
ul li  {
 list-style-position:inside
}

ul li.question {
    color: #88C;
    text-shadow:
 0px -2px 4px #fff,
 0px -2px 10px #AAC,
 0px -10px 20px #09F,
 0px -20px 40px #33C,
         -5px -2px 4px #fff,
 -10px -2px 10px #AAC,
 -15px -10px 20px #09F,
 -20px -20px 40px #33C,
         5px -2px 4px #fff,
 10px -2px 10px #AAC,
 15px -10px 20px #09F,
 20px -20px 40px #33C;
    font-size: 30px;
    padding: 10px;
        line-height: 30px;
}

ul li.answer {
    color: #88C;
    text-shadow:
 0px -2px 4px #fff,
 0px -2px 10px #AAC,
 0px -10px 20px #09F,
 0px -20px 40px #33C,
         -5px -2px 4px #fff,
 -10px -2px 10px #AAC,
 -15px -10px 20px #09F,
 -20px -20px 40px #33C,
         5px -2px 4px #fff,
 10px -2px 10px #AAC,
 15px -10px 20px #09F,
 20px -20px 40px #33C;
    font-size: 20px;
    padding: 5px;
}

div.leftalign {
    float: left;
    margin-left:2%;
}

div.rightalign {
    float: right;
    margin-right:2%;
}

div.importantText {
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    color: #88C;
    text-shadow:
 0px -2px 4px #fff,
 0px -2px 10px #AAC,
 0px -10px 20px #09F,
 0px -20px 40px #33C,
         -5px -2px 4px #fff,
 -10px -2px 10px #AAC,
 -15px -10px 20px #09F,
 -20px -20px 40px #33C,
         5px -2px 4px #fff,
 10px -2px 10px #AAC,
 15px -10px 20px #09F,
 20px -20px 40px #33C;
    margin: 5px;
animation-name: burnmed;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

div.secondHeader {
    font-size: 40px;
    color: #00D;
    padding: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
        background-size: cover;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-position: center;
}

div.factTitle {
    font-size: 20px;
    color: #99F;
    text-decoration: none;
}

a.factTitle {
    text-decoration: none;
}

a.factTitle:visited {
    color: #009;
}

div.fact {
    width: 90%; 
    margin-left:5%;
    margin-right:5%;
    color: #00D
}

div.factOptions {
    font-size: 10px;
    padding-top: 10px;
}

div.bordered {
    min-width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    padding: 1px;
}

div.hidden_text {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #BBE;

}
div.hidden_text:hover{
    opacity: 1;
    
}

div.boxed {
    border-style: groove;
    border-width: 5px;
    border-color: #99F;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
    padding-top: 0px;
}

div.field {
    margin: 1%;
    
}

.pot_image {
    margin: 3%;
    max-height: 80%;
    max-width: 80%;
}

.list_image {
    width: 40%;
}

div.pottery_title {
    font-size: 30px;
    text-decoration: none;
}

a.pottery_title {
    text-decoration: none;
}

a.pottery_title:visited {
    color: #009;
}

div.searchbar {
    
     border-style: groove;
    border-width: 5px;
    border-color: #99F;
text-decoration: none;
padding-top: 25px;
padding-bottom: 25px;
    padding-right: 30px;
    padding-left: 15px;
    opacity: .8;
    position:fixed;
    display:block;
    float:right;
margin-top: 2%;
    
    background-image: url("ice/ice.jpg");
    background-size: cover;
        background-repeat: no-repeat; 
        background-position: 0 0;
-webkit-transition: color 1s ;
    -moz-transition: color 1s;
    -ms-transition: color 1s ;
    -o-transition: color 1s ;
}

a.searchbar:hover { 
    color: white;
    
}

div.searchbarfact {
    
     border-style: groove;
    border-width: 5px;
    border-color: #99F;
text-decoration: none;
padding-top: 5px;
padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 15px;
    opacity: .8;
    width: 200px;
    position:absolute;
    display:block;
    float:right;

    background-image: url("ice/ice.jpg");
    background-size: cover;
        background-repeat: no-repeat; 
        background-position: 0 0;
    -webkit-transition: color 1s ;
    -moz-transition: color 1s;
    -ms-transition: color 1s ;
    -o-transition: color 1s ;

}

a.searchbarfact:hover { 
    color: white;
    
}

.searchoption {
    background-color: #88D;
    color: #99F;
    font-weight: bold;
    border-color: #99F;
}

div.alignfact {
    position:absolute;
    left: -9.5%;
    float: left;
    
    top: 130px;;

}

div.alignpot {
    position:absolute;
    left: -22%;
    float: left;
    
    top: -10px;

}

div.buyButton {

}

a.buyButton {
    border: outset;
border-color: blue;
text-decoration: none;
padding: 7px 40px;
width: 100px;
text-align: center;
display: inline-block;
font-size: 20px;

font-weight:bold;
color: red;
background-color: #4400AA;
    
    margin-left: 1%;
    margin-right: 1%;
    
    color: blue;
    text-decoration: none;
    
}

.bigImageLink {
    
    position:absolute; 
    width:100%;
    height:71.5%;
    top:0;
    left: 0;
    text-decoration: none;
    font-size: 120px;
    font-weight: 500;
    padding-top: 7%;
    text-align: center;
    
         color: #AAF;
    
    
 text-shadow:
 0px -2px 4px #fff,
 0px -2px 10px #AAC,
 0px -10px 20px #09F,
 0px -20px 40px #33C,
         -5px -2px 4px #fff,
 -10px -2px 10px #AAC,
 -15px -10px 20px #09F,
 -20px -20px 40px #33C,
         5px -2px 4px #fff,
 10px -2px 10px #AAC,
 15px -10px 20px #09F,
 20px -20px 40px #33C;



    animation-name: burnbig;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}










.shiny:after {
    opacity: 0;
	content:'';
  top:0;
	transform:translateX(-200%);
	width:100%;
	height:100%;
	position: absolute;
	z-index:1;
	animation: slide 5s infinite 1s;
	 
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); 
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); 
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); 
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); 
}


@keyframes slide {
    10%, 100% {
    opacity: 0;
    transform: translate(100%, 0);
  }
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
}

